// Bouton

button.btn {
    display: block;
    background: linear-gradient(to top left, $primaire, $secondaire);
    color: white;
    @include ombre-legere;
    @include arrondi-prononce;
    border: none;
	outline: none;
	cursor: pointer;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top left, lighten($primaire, 10), lighten($secondaire, 10));
        @include ombre-prononcee;
        @include arrondi-prononce;
        opacity: 0;
        transition: opacity 800ms;
        position: absolute;
        z-index: -1;
    }
}