// Bouton coeur
/*
div.coeur {
    background: linear-gradient(to top left, $primaire, $secondaire);
	color: white;
    border: none;
    border-radius: 30px;
	outline: none;
	cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 15px;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: linear-gradient(to top left, lighten($primaire, $amount: 15), lighten($secondaire, $amount: 15));
        opacity: 0;
        transition: opacity 500ms;
        position: absolute;
        z-index: -1;
    }
}*/