body {
  font-family: "Quicksand", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  color: unset;
  text-decoration: none;
}

.conteneur {
  display: flex;
  flex-wrap: wrap;
}

#loader div {
  padding: 15px;
  margin: 30px;
}

header {
  padding: 15px 15px 10px 15px;
}

.btn {
  padding: 15px;
  margin: 30px auto;
}
@media all and (max-width: 425px) {
  .btn {
    margin: 15px auto;
  }
}

h3 {
  margin-bottom: 5px;
}

#localisation {
  padding: 15px;
}

#fonctionnement li {
  padding: 15px;
  margin: 15px;
}

#introduction, #fonctionnement, #restaurants, h1, section.plat, footer {
  padding: 30px;
}
@media all and (max-width: 425px) {
  #introduction, #fonctionnement, #restaurants, h1, section.plat, footer {
    padding: 15px;
  }
}

#restaurants a {
  margin: 15px;
}
@media all and (max-width: 425px) {
  #restaurants a {
    margin: 10px 0px;
  }
}

.desc__restaurant {
  padding: 10px 15px;
}

h1 {
  margin: -30px 0px 0px 0px;
}

section.plat h2 {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

section.plat article {
  margin: 15px 5px;
}
@media all and (max-width: 425px) {
  section.plat article {
    margin: 5px 0px;
  }
}

.desc__plat, .prix {
  padding: 10px 15px;
}

.ajout {
  padding: 0px 15px;
}

header {
  text-align: center;
  position: relative;
}
header img {
  width: 200px;
}
header a {
  position: absolute;
  left: 20px;
  top: 23px;
}

footer {
  background-color: #353535;
  color: white;
}
footer h3 {
  font-family: "Shrikhand", cursive;
}
footer ul {
  list-style-type: none;
  line-height: 1.8;
}
footer ul li.li__footer {
  display: flex;
  align-items: center;
}
footer ul li.li__footer i {
  width: 25px;
}

button.btn {
  display: block;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0px 3px 3px silver;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
button.btn:hover::after {
  opacity: 1;
}
button.btn::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, #ae80e5, #fface8);
  box-shadow: 0px 5px 5px silver;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 800ms;
  position: absolute;
  z-index: -1;
}

div.favori {
  color: #9356DC;
}
div.favori .coeur-plein {
  opacity: 0;
  transition: opacity 500ms;
}
div.favori:hover .coeur-plein {
  opacity: 1;
}

.desc__restaurant i {
  position: absolute;
  right: 45px;
  bottom: 25px;
}

div.image-titre i {
  position: absolute;
  right: 30px;
  bottom: 40px;
}
@media all and (max-width: 425px) {
  div.image-titre i {
    right: 15px;
    bottom: 25px;
  }
}

section.plat article .ajout {
  transform: translateX(100%);
}
section.plat article:hover > .ajout {
  transform: translateX(0%);
  transform-origin: 100% 50%;
}
section.plat article:hover > .ajout i {
  transform: rotate(1turn);
}
section.plat article .ajout, section.plat article .ajout i {
  transition: transform 500ms ease-in-out;
}

#fond {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  top: -9999px;
  z-index: 99;
  animation: chargement--3 2.3s linear;
}

#loader {
  top: -9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 0;
  animation: chargement--2 2.3s linear;
}

#loader div {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0px 3px 3px silver;
  border-radius: 20px;
}

#loader div i {
  animation: chargement--1 1.3s linear infinite;
}

@keyframes chargement--1 {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.3) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes chargement--2 {
  0% {
    opacity: 1;
    transform: translate(0px, 9999px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0px, 9999px);
  }
}
@keyframes chargement--3 {
  0% {
    opacity: 1;
    transform: translate(0px, 9999px);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translate(0px, 9999px);
  }
}
.apparition--1 {
  animation: apparition 1s linear;
}

.apparition--2 {
  animation: apparition 1.5s linear;
}

.apparition--3 {
  animation: apparition 2s linear;
}

.apparition--4 {
  animation: apparition 2.5s linear;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#localisation {
  background-color: #eaeaea;
  box-shadow: inset 0 3px 3px silver;
  display: flex;
  justify-content: center;
  align-items: center;
}
#localisation i {
  width: 25px;
}

#introduction {
  order: 2;
  flex: 1;
  align-self: center;
  text-align: center;
  min-width: 250px;
}
@media all and (max-width: 425px) {
  #introduction {
    background-color: #f6f6f6;
  }
}

div#contenu {
  display: flex;
  flex-wrap: wrap-reverse;
}

#fonctionnement {
  order: 1;
}
#fonctionnement ol {
  list-style-type: none;
}
#fonctionnement ol li {
  background-color: #f6f6f6;
  color: #9356DC;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 5px 10px silver;
  position: relative;
  max-width: 300px;
  padding-left: 30px;
}
#fonctionnement ol li p.num {
  background-color: #9356DC;
  color: white;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  left: -5px;
  width: 20px;
  height: 20px;
}
#fonctionnement ol li i {
  width: 30px;
}

#restaurants {
  background-color: #f6f6f6;
}
#restaurants div.conteneur {
  justify-content: space-around;
}
#restaurants div.conteneur a {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px silver;
  position: relative;
  height: 200px;
  max-width: 250px;
}
@media all and (max-width: 425px) {
  #restaurants div.conteneur a {
    max-width: 400px;
  }
}
#restaurants div.conteneur a img {
  object-fit: cover;
  width: 100%;
}
#restaurants div.conteneur a .desc__restaurant {
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
}

div.image-titre {
  position: relative;
}
div.image-titre img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 50vh;
}
div.image-titre h1 {
  background-color: #f6f6f6;
  font-size: 1.5em;
  border-radius: 30px;
  position: relative;
}

section.plat {
  background-color: #f6f6f6;
}
section.plat h2 {
  font-size: 1.2em;
  border-bottom: 4px #99E2D0 solid;
  width: 50px;
}
section.plat div.conteneur article {
  display: flex;
  align-items: flex-end;
  flex: 1;
  background-color: white;
  box-shadow: 0px 0px 5px silver;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-width: 200px;
}
section.plat div.conteneur article .desc__plat {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}
section.plat div.conteneur article .desc__plat h3, section.plat div.conteneur article .desc__plat p {
  overflow: hidden;
  text-overflow: ellipsis;
}
section.plat div.conteneur article .ajout {
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  right: 0px;
  background-color: #99E2D0;
  color: white;
  height: 100%;
}

/*# sourceMappingURL=style_ohmyfood.css.map */
