// Pied de page

footer {
    background-color: $grissouris;
    color: white;
    h3 {
        font-family: 'Shrikhand', cursive;
    }
    ul {
        list-style-type: none;
        line-height: 1.8;
        li.footer__li {
            display: flex;
            align-items: center;
            i {
                width: 25px;
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}