// Haut de page

img {
    width: 100%;
    object-fit: cover;
    max-height: 400px;
}

// Plats

section.plat, h1 {
    background-color: $grisclair;
}
h1 {
    font-size: 1.5em;
    border-radius: 30px;
    padding: 15px;
    position: relative;
}
section.plat {
    h2 {
        font-size: 1.2em;
    }
    div.conteneur {
        display: flex;
        flex-wrap: wrap;
        a {
            display: flex;
            align-items: flex-end;
            flex: 1;
            background-color: white;
            box-shadow: 0px 0px 5px silver;
            border-radius: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 200px;
            .desc__plat {
                flex: 1;
            }
        }
    }
}