// Haut de page

div.image-titre {
    position: relative;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 50vh;
    }
    h1 {
        background-color: $grisclair;
        font-size: 1.5em;
        @include arrondi-prononce;
        position: relative;
    }
}

// Plats

section.plat {
    background-color: $grisclair;
    h2 {
        font-size: 1.2em;
        border-bottom: 4px $tertiaire solid;
        width: 50px;
    }
    div.conteneur {
        article {
            display: flex;
            align-items: flex-end;
            flex: 1;
            background-color: white;
            @include ombre-prononcee;
            @include arrondi-leger;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            min-width: 200px;
            .plat__desc {
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                h3, p {
                    overflow: hidden;
                    text-overflow: ellipsis;    
                }
            }
            p.prix {
                background-color: white;
            }
        }
    }
}